.text-area {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 16;
}

.text-area .content {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/* Hide scrollbars */
.text-area .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}